* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #fdfdfd;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding-top: 70px;
}

img {
    max-width: 100%;
}

#green-terminal {
    color: #00ff00;
}

.font-header {
    font-family: 'Inconsolata', monospace;
}

.font-paragraph {
    font-family: 'Open Sans', sans-serif;
}

nav {
    font-size: 1.5em;
}

.nav.navbar-nav.navbar-left li a {
    color: #555555;
}

.nav.navbar-nav.navbar-left li a:hover{
    color: #292929;
}

.dropdown-menu li {
    font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "PT Serif", serif;
    font-weight: 1000;
}

#user-name {
    font-size: 5em;
    text-transform: uppercase;
}

.user-description {
    border-style: solid;
    border-width: 5px;
    border-color: #292929;
    margin-top: 20px;
    margin-bottom: 1em;
    padding: 15px;
    font-size: initial;
}

.user-profile {
    padding: 0;
}

.user-picture {
    border-style: solid;
    border-width: 5px;
    border-color: #292929;
    margin-top: 20px;
}

i {
    margin: 10px 20px 10px 20px;
    color: #333;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select:   none; /* Safari */
    -khtml-user-select:    none; /* Konqueror HTML */
    -moz-user-select:      none; /* Firefox */
    -ms-user-select:       none; /* Internet Explorer/Edge */
    user-select:           none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-link {
    text-align: left;
    font-size: 26pt;
    font-family: "PT Serif", serif;
    font-weight: bold;
    color #333;
}

.post-link a {
    color: #333;
}

#post-big {
    font-size: 30pt;
    font-family: "PT Serif", serif;
    font-weight: 1000;
}

#post-big a {
    color: #333;
}

#post-title {
    font-weight: 550;
    font-size: 22pt;
}

.post-subtitle {
}

.post-date {
    width: 100%;
    padding-bottom: 2px;
    padding-right: 2px;
    font-size: 14pt;
    color: rgb(81, 81, 81);
    /*font-family: "Concert One", cursive;*/
    font-weight: 700;
}

.date-text {
    font-weight: 400;
}

.post-header {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.post-summary, .post-content {
    font-family: "PT Serif", serif;
    font-size: 16pt;
}

.post-list-footer {
    padding-bottom: 5px;
}

#post-content-wrapper {
    margin-left: 15%;
    margin-right: 15%;
}

#post-list {
    list-style: none;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
}

.post-list-item {
    margin-top: 20px;
}

/*{ Tags*/

.left-icon {
    margin-right: 5px;
}

ul.tags {
    margin: 0;
    overflow: hidden;
    padding: 0;
    list-style-type: none;
}

.tags li {
    float: left;
}

.tag {
    font: 14px 'PT Sans', sans-serif;
    background: #767676;
    border-radius: 3px 0 0 3px;
    color: #FFFFFF;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    /*padding: 0 20px 0 10px;*/
    padding: 0 20px 0 10px;
    position: relative;
    margin: 0 0px 0px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag-archive-font {
    font-size: 13px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #767676;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #f05422;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.tag:hover::after {
    border-left-color: #f05422;
}

/*}*/

.post-comments {
    padding-top: 10px;
    border-top-style: solid;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -50px;
}

.footer {
    background-color: #F5F5F5;
    display: block;
    width: 100%;
    padding: 10px;
    height: 50px;
}

.push {
    height: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

div p {
    text-align: justify;
}

td {
    margin: 0 20px 0 20px;
}
