<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title> {{ .Title }} - Blake Martin </title>

    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
      <div class="container wrapper">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 id="post-title">{{ .Title }}</h1>
          </div>
        </div>
        <ul id="post-list">
          {{ range .Paginator.Pages }}
          <li>
            <div class="post-list-item">
              <div class="post-header">
                <h4 class="col-xs-9 post-link"><a href="{{ .Permalink }}">{{ .Title }}</br>{{ .Params.subtitle }}</a></h4>
                <div class="col-xs-3">
                  <h4 class="post-date">{{ .Date.Format "Jan 2, 2006" }}</h4>
                </div>
              </div>
              <div class="col-xs-12 post-summary">
                <p>{{ .Description }}</p>
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
        {{ partial "pagination" . }}
        <div class="push"></div>
      </div>
    {{ partial "footer.html" . }}
  </body>
</html>
