<!DOCTYPE html>
<html>
  <head>
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="container wrapper">
      <div id="post-content-wrapper">
        <h1 id="post-big"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <h1 class="post-date">{{ .Date.Format "Jan 2, 2006 " }}</h1>
        <div class="post-content">
          {{ .Content }}
        </div>
        {{ if (isset .Params "nocomments")  }}
        {{ else }}
        <div class="post-comments">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
        <div class="push"></div>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>

